.image {
    width: 40%;
    height: auto;
    border-radius: 12%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
  }